* {
  box-sizing: border-box;
}

.trump_big_pic {
  padding-bottom: 50px;
  padding-top: 50px;
  height: 500px;
  background: url(images/Donald_Trump.jpg) fixed no-repeat center center;
  background-size: cover;
  opacity : 0.7;
}

.title, .byline {
  color: #f7f7f7;
}

body {
  height: 100%;
  background-color: #f7f7f7;
}

p {
  font-size: 18px;
  padding: 5px;
}

#tweet_timeline {
  align-self: center;
  max-width: 100%;
}

.max-size {
  max-width: 1000px;
  align: center;
}

.chart-wrapper {
  border:1px solid #D3D3D3;
  max-width: 100%;
  margin: 20px auto;
}

.tweet_wrapper {
  margin: 30px auto;
}

footer {
  max-width: 100%;
  background-color: #a6dba0;
  padding: 30px;
  bottom: 0;
}

footer p {
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 16px;
  padding: 5px;
}

.font_size {
  font-size: 18px;
  padding: 5px;
}
